<mat-card style="background-color: rgba(51, 170, 51, .1)">
  <mat-card-title>Forget Password</mat-card-title>
<mat-card-content>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="submit(forgetPasswordForm.value)">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="off">
    <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('email')">Please enter valid email</mat-error>
  </mat-form-field>
</p>

<div class="button">
  <button type="submit" mat-raised-button color="primary" [disabled]="!forgetPasswordForm.valid">Submit</button>
</div>

</form>
</mat-card-content>
</mat-card>
